@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.app {
  background-image: url("C:\Users\shiva\OneDrive\Desktop\Weather-App\src\assets\Images\back3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  height: 100vh;
  animation: lazyload 2s;
}

@keyframes lazyload {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
